<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.demo.mapper.BikeMapper">
	<resultMap id="BikeResultMap" type="ie.demo.domain.Bike">
		<id column="BikeId" property="bikeId" />
		<result column="BikeType" property="bikeType" />
		<result column="Status" property="status"/>
	</resultMap>

	<select id="findBikeByNodes" resultMap="BikeResultMap">
		SELECT * FROM Bikes WHERE NodeId = 	#{id}
	</select>

	<select id="findBikeById" resultType="ie.demo.domain.Bike">
		SELECT BikeId, BikeType, NodeId, Position, isAvailable, LastUserId FROM Bikes WHERE BikeId = #{id}
	</select>

	<select id="findAllBikes" resultMap="BikeResultMap">
		SELECT * FROM Bikes
	</select>
	
	<insert id="createBike" parameterType="ie.demo.domain.Bike" flushCache="true" useGeneratedKeys="true" keyProperty="bikeId">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="bikeId">    
      	SELECT LAST_INSERT_ID() AS ID      
    	</selectKey>
		INSERT INTO Bikes (BikeType, NodeId) VALUES (#{bikeType}, #{nodeId});
	</insert>

	<insert id="createCollection" parameterType="ie.demo.domain.Collection" flushCache="true" useGeneratedKeys="true" keyProperty="collectionId">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="collectionId">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO Collections (DriverId, NodeId) VALUES (#{driverId}, #{nodeId});
	</insert>

	<insert id="createCollectionBikes" parameterType="Integer" flushCache="true" useGeneratedKeys="true" keyProperty="collectionId">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="bikeId">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO CollectionScheduledBikes (BikeId, CollectionId) VALUES (#{bikeId}, #{collectionId});
	</insert>
	
	<update id="setStatus" parameterType="Integer">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="bikeId">    
      	SELECT LAST_INSERT_ID() AS ID      
    	</selectKey>
		UPDATE Bikes
			SET isAvailable = #{status}
		WHERE BikeID = #{bikeId}
	</update>
	
	<update id="setReturnStatus" parameterType="ie.demo.domain.Bike">
		UPDATE Bikes
			SET isAvailable = #{status}, NodeId = #{nodeId}, Position = #{position}
		WHERE BikeID = #{bikeId}
	</update>
	
	<update id="setRentStatus" parameterType="ie.demo.domain.Bike">
		UPDATE Bikes
			SET isAvailable = #{status}, LastUserId = #{userId}, NodeId = #{nodeId}, Position = #{position}
		WHERE BikeID = #{bikeId}
	</update>
	
</mapper>
