<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.demo.mapper.NodeMapper">
	<resultMap id="NodeResultMap" type="ie.demo.domain.Node">
		<id column="NodeId" property="nodeId" />
		<result column="Position" property="position" />
	</resultMap>

	<select id="findNode" resultMap="NodeResultMap">
		SELECT NodeId, Position FROM Nodes
	</select>
</mapper>
