<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.demo.mapper.OrderMapper">

	<resultMap id="OrderResultMap" type="ie.demo.domain.Order">
		<id column="OrderId" property="orderId" />
		<result column="Position" property="position" />
		<result column="BikeId" property="bikeId" />
		<result column="UserId" property="userId" />
		<result column="isPaid" property="paidStatus" />
		<result column="MoneyConsumed" property="moneyConsumed" />
		<result column="OrderTime" property="orderTime" />
	</resultMap>

	<insert id="placeOrder" parameterType="ie.demo.domain.Order" flushCache="true" useGeneratedKeys="true" keyProperty="orderId">
		INSERT INTO Orders (BikeId, UserId, isPaid, MoneyConsumed, OrderTime) VALUES (#{bikeId}, #{userId}, #{paidStatus}, #{moneyConsumed}, #{orderTime});
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="orderId">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>
	
	<update id="setOrder" parameterType="ie.demo.domain.Order">
		UPDATE Orders
			SET isPaid = #{paidStatus}, MoneyConsumed = #{moneyConsumed}
		WHERE OrderId = #{orderId}
	</update>
	
	<select id="getBikeId" resultType="int">
		SELECT BikeId FROM Orders WHERE OrderId = #{orderId}
	</select>

	<select id="getNumOrders" resultType="int">
		SELECT count(*) FROM Orders WHERE UserId = #{userId} AND isPaid = 1
	</select>

	<select id="getOrder" resultType="ie.demo.domain.Order">
		SELECT OrderId, BikeId, UserId, isPaid, MoneyConsumed, OrderTime FROM Orders WHERE OrderId = #{orderId}
	</select>

	<select id="getMostRecentUserOrder" resultType="ie.demo.domain.Order">
		SELECT OrderId, BikeId, UserId, isPaid, MoneyConsumed, OrderTime
			FROM Orders
			WHERE UserId = #{userId}
			ORDER BY OrderTime DESC
			LIMIT 1
	</select>
</mapper>
