<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ie.demo.mapper.UserMapper">

	<!-- THIS IS A QUICK AND DIRTY FIX!!!
		As all users have the same parameters I'm just setting the return Object to be of type StandardCustomer
		Not really a great solution long term as if any extra parameters are added to any users it will fail.
		Need to look at it further at a later date but this works for now. -->
	<resultMap id="UserResultMap" type="ie.demo.domain.StandardCustomer">
		<result column="UserId" property="userId" />
		<result column="StudentCardId" property="studentCardId" />
		<result column="UserTypeId" property="userTypeId" />
		<result column="UserName" property="userName" />
		<result column="Password" property="password" />
		<result column="Email" property="email" />
		<result column="isBanned" property="isBanned" />
	</resultMap>

	<insert id="register" parameterType="ie.demo.domain.User" flushCache="true" useGeneratedKeys="true" keyProperty="userId">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="userId">    
      	SELECT LAST_INSERT_ID() AS ID      
    	</selectKey>
		INSERT INTO Users (StudentCardId, UserTypeId, Username, Email, Password) VALUES (#{studentCardId}, #{userTypeId}, #{username}, #{email}, #{password});
	</insert>
	 
	<select id="userExists" parameterType="String" resultType="int">
		SELECT count(*) FROM Users WHERE username = #{username}
	</select>

	<select id="findUserByUserName" resultMap="UserResultMap">
		select UserId, StudentCardId, UserTypeId, UserName, Password, Email, isBanned from Users WHERE username=#{username}
	</select>
	
	<select id="findUserByUserId" resultMap="UserResultMap">
		select UserId, StudentCardId, UserTypeId, UserName, Password, Email, isBanned from Users WHERE UserId=#{userID}
	</select>

	<select id="findUserType" parameterType="int" resultType="int">
		select UserTypeId from Users WHERE UserId=#{userId}
	</select>

</mapper>
